<% layout('layouts/boilerplate') %>

<nav class="sidebar">
  <div class="sidebar-header">
    <img src="/pictures/collegebg.jpg" alt="Logo" class="sidebar-logo">
    <h5>GTB4CEC LMS</h5>
    <p>Admin Portal</p>
  </div>

  <ul class="sidebar-nav">
    <li><a href="/admindashboard"><i class="fa fa-home"></i> Dashboard</a></li>
  </ul>

  <form action="/logout" method="POST" class="logout-form mt-auto">
    <button type="submit" class="btn btn-danger w-100">
      <i class="fa fa-sign-out-alt"></i> Logout
    </button>
  </form>
</nav>
