<nav class="navbar">
  <!-- LEFT SIDE -->
  <div class="navbar-brand">
    <div class="nav-logo">
      <i class="fa-solid fa-graduation-cap"></i>
    </div>
    <span>GTB4CEC Portal</span>
  </div>

  <!-- RIGHT SIDE -->
  <div class="btn-group">
    <a href="#" class="btn btn-primary">Courses</a>
    <a href="#" class="btn btn-admin">Admin</a>
    <button class="btn-help">
      <i class="fa-solid fa-circle-question"></i>
    </button>
  </div>
</nav>
