<nav class="navbar">
  <!-- LEFT SIDE -->
  <a href="/" class="navbar-brand text-decoration-none d-flex align-items-center">
    <div class="nav-logo me-2">
      <i class="fa-solid fa-graduation-cap"></i>
    </div>
    <span>GTB4CEC Portal</span>
  </a>

  <!-- RIGHT SIDE -->
  <div class="btn-group">
    <a href="/login" class="btn btn-primary">Login</a>
    <a href="/signup" class="btn btn-admin">Signup</a>
    <button class="btn-help">
      <i class="fa-solid fa-circle-question"></i>
    </button>
  </div>
</nav>
