

<nav class="sidebar">
  <div class="sidebar-header">
    <img src="/pictures/collegebg.jpg" alt="Logo" class="sidebar-logo">
    <h5>GTB4CEC LMS</h5>
    <p>Student Portal</p>
  </div>

  <ul class="sidebar-nav">
    <li><a href="/userdashboard"><i class="fa fa-home"></i> Dashboard</a></li>
    <li><a href="/courses"><i class="fa fa-book"></i> Courses</a></li>
    <li><a href="/certificates"><i class="fa fa-award"></i> Certificates</a></li>
    <li><a href="/profile"><i class="fa fa-user"></i> Profile</a></li>
    <li><a href="/help"><i class="fa fa-question-circle"></i> Help</a></li>
  </ul>

  <form action="/logout" method="POST" class="logout-form mt-auto">
    <button type="submit" class="btn btn-danger w-100">
      <i class="fa fa-sign-out-alt"></i> Logout
    </button>
  </form>
</nav>
